# Data wrangling and curation of Fermentos dataset

In [ ]:
import pandas as pd # type: ignore

In [4]:
# loading Fermentos metadata file
dataset = pd.read_csv('data/2025-03-24-all-ff-mag-metadata-cleaned-curated.tsv', sep='\t')
display(dataset.head())

,mag_id,sample_description,fermented_food,specific_substrate,substrate_category,general_category,completeness,contamination,contigs,total_length,...,n50,domain,phylum,class,order,family,genus,species,study_catalog,source
0,AlvarezOrdonezA_xxxx__C02-18__bin.2,meat,sausage,meat,meat,fermented_meat,51.600000,3.100000,2506,20998336,...,9910,Eukaryota,Ascomycota,Eurotiomycetes,Eurotiales,Aspergillaceae,Aspergillus,Aspergillus_glaucus,Carlino2024,AlvarezOrdonezA_xxxx__C02-18
1,AlvarezOrdonezA_xxxx__C02-19__bin.5,meat,sausage,meat,meat,fermented_meat,63.793103,0.862069,542,1596974,...,3152,Bacteria,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus,Staphylococcus_equorum,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
2,AlvarezOrdonezA_xxxx__C02-19__bin.3,meat,sausage,meat,meat,fermented_meat,74.137931,0.000000,279,5340756,...,30953,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Pseudomonas,Pseudomonas_lactis,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
3,AlvarezOrdonezA_xxxx__C02-19__bin.1,meat,sausage,meat,meat,fermented_meat,64.912281,0.000000,712,3816144,...,6480,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Yersiniaceae,Ewingella,Ewingella_americana,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
4,AlvarezOrdonezA_xxxx__C02-19__bin.10,meat,sausage,meat,meat,fermented_meat,63.900000,3.300000,1188,9316757,...,10532,Eukaryota,Ascomycota,Saccharomycetes,Saccharomycetales,Debaryomycetaceae,Debaryomyces,Debaryomyces_tyrocola,Carlino2024,AlvarezOrdonezA_xxxx__C02-19

In [5]:
# loading the Carlino metadata. 
carlino_metadata = pd.read_csv('data/cFMD_metadata.tsv', sep='\t')
carlino_supp = pd.read_excel('data/Carlino_supp.xlsx') #requires openpyxl to be installed

display(carlino_metadata.head())
display(carlino_supp.head())

,dataset_name,sample_id,macrocategory,category,type,subtype,commercial_name,fermented/non-fermented,country,sample_accession,...,median_read_len,mean_read_len,max_read_len,n_contigs,n_MAGs_MQ_prok,n_MAGs_HQ_prok,n_MAGs_MQ_euk,n_MAGs_HQ_euk,filtered,curator
0,AlvarezOrdonezA_xxxx,C01-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689796,...,151.0,146.200505,151.0,62700,0,0,0,0,no,Niccolò_Carlino
1,AlvarezOrdonezA_xxxx,C01-17,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689797,...,151.0,147.266426,151.0,98756,0,0,0,0,no,Niccolò_Carlino
2,AlvarezOrdonezA_xxxx,C01-18,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689824,...,151.0,147.760911,151.0,103911,0,0,0,0,no,Niccolò_Carlino
3,AlvarezOrdonezA_xxxx,C01-19,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689825,...,151.0,149.200530,151.0,134121,0,0,0,0,no,Niccolò_Carlino
4,AlvarezOrdonezA_xxxx,C02-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689798,...,151.0,148.854534,151.0,37597,1,1,0,0,no,Niccolò_Carlino

,Dataset,# Samples,Accession number,Reference
0,AlvarezOrdonezA_xxxx,173,"PRJNA997800, PRJNA997801",*
1,ArikanM_2020,12,PRJEB22200,"Arıkan, M., Mitchell, A.L., Finn, R.D., and Gü..."
2,BertuzziAS_2018,42,PRJEB15423,"Bertuzzi, A.S., Walsh, A.M., Sheehan, J.J., Co..."
3,ChaconVargasK_2020,5,PRJNA603591,"Chacón-Vargas, K., Torres, J., Giles-Gómez, M...."
4,CM_INJERA,2,PRJNA504891,"Manara, S., Selma-Royo, M., Huang, K.D., Asnic..."

In [6]:
# organising carlino_supp
    # replacing * with the Carlino paper
    # spliting rows with multiple bioproject accession numbers

# Replacing '*' in the Reference column with the full citation of the Carlino paper
ref = 'Carlino, N., Blanco-Míguez, A., Punčochář, M., Mengoni, C., Pinto, F., Tatti, A., Manghi, P., Armanini, F., Avagliano, M., Barcenilla, C., Breselge, S., Cabrera-Rubio, R., Calvete-Torre, I., Coakley, M., Cobo-Díaz, J. F., De Filippis, F., Dey, H., Leech, J., Klaassens, E. S., Knobloch, S., O’Neil, D., Quijada, N. M., Sabater, C., Skírnisdóttir, S., Valentino, V., Walsh, L., MASTER EU Consortium, Asnicar, F., Fackelmann, G., Heidrich, V., Rota Stabelli, O., Pasolli, E., Arendt, E., Rubino, F., Cotter, P. D., Ruiz, L., Ercolini, D., Morrison, S., Marchart, J., Sessitsch, A., and Zannini, E. (2024). A pan-European study of the human gut microbiome reveals links with diet, health, and lifestyle. Cell, 187(13), 5795–5816.e15. https://doi.org/10.1016/j.cell.2024.05.028'
carlino_supp.loc[carlino_supp['Reference'] == '*', 'Reference'] = ref

# Splitting rows with multiple bioproject accession numbers
# check how many rows have multiple Bioproject accession numbers
# Find rows with commas in 'Accession number' and count values after splitting
rows_with_commas = carlino_supp[carlino_supp['Accession number'].str.contains(',', na=False)]
total_values = sum(len(accession.split(',')) for accession in rows_with_commas['Accession number'])
print(f"Total values after splitting: {total_values}")

print("\nRows with multiple accession numbers:")
display(rows_with_commas)
print(f"\nNumber of rows with multiple accession numbers: {rows_with_commas.shape[0]}")
print('total number of rows in dataset before splitting:', carlino_supp.shape[0])

carlino_supp['Accession number'] = carlino_supp['Accession number'].str.split(',')
carlino_supp = carlino_supp.explode('Accession number')
# strip white spaces in the 'Accession number' column
carlino_supp['Accession number'] = carlino_supp['Accession number'].str.strip()

end_rows = carlino_supp.shape[0]
print('number of rows at the end:', end_rows)

Total values after splitting: 16

Rows with multiple accession numbers:

,Dataset,# Samples,Accession number,Reference
0,AlvarezOrdonezA_xxxx,173,"PRJNA997800, PRJNA997801","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
5,CrovadoreJ_2017,5,"PRJNA358537, PRJNA358558, PRJNA362533, PRJNA36...","Crovadore, J., Gérard, F., Chablais, R., Cocha..."
26,MASTER_WP4_CSIC_2,164,"PRJNA997801, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
31,MASTER_WP4_TEAGASC_1,156,"PRGEB63604, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
33,MASTER_WP4_UNINA_2,150,"PRJNA897099, PRJNA997801, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
36,MortensenS_xxxx,375,"PRJNA977472, PRJNA1023503","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."

Number of rows with multiple accession numbers: 6
total number of rows in dataset before splitting: 59
number of rows at the end: 69

In [7]:
# Add Reference column from carlino_supp to carlino_metadata
# Create a dictionary from carlino_supp, keeping the first occurrence of each project_accession
reference_dict = dict(zip(carlino_supp['Accession number'], carlino_supp['Reference']))
carlino_metadata['Reference'] = carlino_metadata['project_accession'].map(reference_dict)

# Verify the merge by checking if References were added
print("Number of rows with References:", carlino_metadata['Reference'].notna().sum())
print("Total rows in carlino_metadata:", len(carlino_metadata))

Number of rows with References: 2477
Total rows in carlino_metadata: 3368

In [10]:
# checking the missing references
missing_refs = carlino_metadata[
    (carlino_metadata.Reference.isna()) & 
    (carlino_metadata['fermented/non-fermented'] == 'F')
][['dataset_name', 'project_accession','Reference']].drop_duplicates()

# check if the dataset_name is in the Fermentos metadata
missing_refs = missing_refs[missing_refs['dataset_name'].apply(lambda x: dataset['mag_id'].str.contains(x).any())]
display(missing_refs)

              dataset_name project_accession Reference
408         KastmanEK_2016               NaN       NaN
799      MASTER_WP4_CSIC_2               NaN       NaN
2035      PorcellatoD_2016               NaN       NaN
2469          WolfeBE_2014               NaN       NaN
2493             XieM_2019               NaN       NaN
2547        CM_UNINA_FFOOD      PRJNA1206071       NaN
2808          DecadtH_2024        PRJEB64331       NaN
2827       FalardeauJ_2023       PRJNA863305       NaN
2883         FontanaF_2023       PRJNA865096       NaN
3011       FranciosaI_2021       PRJNA636619       NaN
3026  GonzalezOrozcoB_2023       PRJNA843464       NaN
3028       KharnaiorP_2023       PRJNA914873       NaN
3032            LimaC_2020       PRJNA552479       NaN
3046    LopezSanchezR_2023       PRJNA648868       NaN
3050        MagliuloR_2024      PRJNA1084214       NaN
3099   MotaGutierrezJ_2021       PRJNA627182       NaN
3119            OlgaP_2019       PRJNA636820       NaN
3121            OlgaP_2019       PRJNA636837       NaN
3123            OlgaP_2019       PRJNA636891       NaN
3125            OlgaP_2019       PRJNA637016       NaN
3127            OlgaP_2019       PRJNA637018       NaN
3128         QuijadaN_2022        PRJEB48589       NaN
3148        SalgadoTS_2021       PRJNA704713       NaN
3287   ShangpliangH_2023_a       PRJNA914731       NaN
3289   ShangpliangH_2023_b       PRJNA914730       NaN
3291           TomarS_2023       PRJNA763767       NaN
3292            YangC_2021       PRJNA683931       NaN
3318           YasirM_2022       PRJNA816670       NaN
3336             YouL_2022       PRJNA687995       NaN
3359              YuY_2022       PRJNA780248       NaN

In [11]:
# saving the missing references table to a file
# will locate references manually
missing_refs.to_csv('data/missing_references.tsv', sep='\t', index=False)

In [20]:
# Loading back the missing_ref table after manual curation. 
# all samples now have references but not all have a bioproject since they are not all from NCBI. 
missing_refs = pd.read_csv('data/missing_references.tsv', sep='\t')
display(missing_refs)

,dataset_name,project_accession,Reference
0,KastmanEK_2016,NaN,"Kastman, E.K., Kamelamela, N., Norville, J.W.,..."
1,PorcellatoD_2016,NaN,"Porcellato, D., and Skeie, S.B. (2016). Bacter..."
2,WolfeBE_2014,NaN,"Wolfe, B.E., Button, J.E., Santarelli, M., and..."
3,XieM_2019,NaN,"Xie, M., Wu, J., An, F., Yue, X., Tao, D., Wu,..."
4,CM_UNINA_FFOOD,PRJNA1206071,"Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
5,DecadtH_2024,PRJEB64331,"Decadt H, Vermote L, Díaz-Muñoz C, Weckx S, De..."
6,FalardeauJ_2023,PRJNA863305,"Falardeau J, Yildiz E, Yan Y, Castellarin SD, ..."
7,FontanaF_2023,PRJNA865096,"Fontana F, Longhi G, Alessandri G, Lugli GA, M..."
8,FranciosaI_2021,PRJNA636619,"Franciosa, I., Ferrocino, I., Giordano, M., Mo..."
9,GonzalezOrozcoB_2023,PRJNA843464,"González-Orozco BD, García-Cano I, Escobar-Zep..."
10,KharnaiorP_2023,PRJNA914873,"Kharnaior P, Tamang JP. Microbiome and metabol..."
11,LimaC_2020,PRJNA552479,"de C Lima CO, Vaz ABM, De Castro GM, Lobo F, S..."
12,LopezSanchezR_2023,PRJNA648868,"López-Sánchez R, Hernández-Oaxaca D, Escobar-Z..."
13,MagliuloR_2024,PRJNA1084214,"Magarelli M, Novielli P, De Filippis F, Magliu..."
14,MotaGutierrezJ_2021,PRJNA627182,"Mota-Gutierrez J, Ferrocino I, Giordano M, Sua..."
15,OlgaP_2019,PRJNA636820,"Lee I, Barh D, Podolich O, Brenig B, Tiwari S,..."
16,OlgaP_2019,PRJNA636837,"Lee I, Barh D, Podolich O, Brenig B, Tiwari S,..."
17,OlgaP_2019,PRJNA636891,"Lee I, Barh D, Podolich O, Brenig B, Tiwari S,..."
18,OlgaP_2019,PRJNA637016,"Lee I, Barh D, Podolich O, Brenig B, Tiwari S,..."
19,OlgaP_2019,PRJNA637018,"Lee I, Barh D, Podolich O, Brenig B, Tiwari S,..."
20,QuijadaN_2022,PRJEB48589,"Quijada NM, Dzieciol M, Schmitz-Esser S, Wagne..."
21,SalgadoTS_2021,PRJNA704713,"Tenorio-Salgado S, Castelán-Sánchez HG, Dávila..."
22,ShangpliangH_2023_a,PRJNA914731,"Shangpliang HNJ, Tamang JP. Metagenome-assembl..."
23,ShangpliangH_2023_b,PRJNA914730,"Shangpliang HNJ, Tamang JP. Metagenome-assembl..."
24,TomarS_2023,PRJNA763767,"Tomar S, Mitra D, Kumar G, Kashyap P, Sharma M..."
25,YangC_2021,PRJNA683931,"Yang, C., You, L., Kwok, L.-Y., Jin, H., Peng,..."
26,YasirM_2022,PRJNA816670,"Muhammad Yasir, Ibrahim A. Al-Zahrani, Fehmida..."
27,YouL_2022,PRJNA687995,"You, L., Yang, C., Jin, H., Kwok, L.-Y., Sun, ..."
28,YuY_2022,PRJNA780248,"Yu Y, Li L, Xu Y, Li H, Yu Y, Xu Z. Metagenomi..."

In [21]:
# Add the curated references to the carlino_metadata
missing_refs_dict = dict(zip(missing_refs['dataset_name'], missing_refs['Reference']))
carlino_metadata['Reference'] = carlino_metadata['dataset_name'].map(missing_refs_dict)

In [22]:
# checking the missing references again
missing_refs = carlino_metadata[
    (carlino_metadata.Reference.isna()) & 
    (carlino_metadata['fermented/non-fermented'] == 'F')
][['dataset_name', 'project_accession','Reference']].drop_duplicates()

# check if the dataset_name is in the Fermentos metadata
missing_refs = missing_refs[missing_refs['dataset_name'].apply(lambda x: dataset['mag_id'].str.contains(x).any())]
display(missing_refs)

              dataset_name project_accession Reference
2     AlvarezOrdonezA_xxxx       PRJNA997800       NaN
72    AlvarezOrdonezA_xxxx       PRJNA997801       NaN
173           ArikanM_2020        PRJEB22200       NaN
185        BertuzziAS_2018        PRJEB15423       NaN
227     ChaconVargasK_2020       PRJNA603591       NaN
232              CM_INJERA       PRJNA504891       NaN
239       DeFilippisF_xxxx      PRJNA1094419       NaN
358           DeRoosJ_2020        PRJEB28363       NaN
364               DuR_2020         PRJDB9193       NaN
367            DuruIC_2018        PRJEB23938       NaN
373          EinsonEJ_2018       PRJNA336518       NaN
378    EscobarZepedaA_2016       PRJNA286900       NaN
379        FerrocinoI_2018       PRJNA352236       NaN
395            HeilCS_2018       PRJNA390460       NaN
428            KumarJ_2019       PRJNA529966       NaN
432          LandisEA_2021       PRJNA589612       NaN
472            LeechJ_2020        PRJEB35321       NaN
530            LeechJ_xxxx      PRJNA1052643       NaN
633               LiZ_2018       PRJNA433075       NaN
639               LiZ_2019       PRJNA473190       NaN
647           LordanR_2019        PRJEB30083       NaN
652      MASTER_WP4_CSIC_1       PRJNA997801       NaN
766      MASTER_WP4_CSIC_2       PRJNA997801       NaN
799      MASTER_WP4_CSIC_2               NaN       NaN
808      MASTER_WP4_CSIC_2      PRJNA1094419       NaN
930    MASTER_WP4_FFoQSI_1       PRJNA997801       NaN
1002   MASTER_WP4_FFoQSI_2       PRJNA997801       NaN
1103   MASTER_WP4_FFoQSI_3       PRJNA997801       NaN
1178  MASTER_WP4_TEAGASC_1      PRJNA1094419       NaN
1180  MASTER_WP4_TEAGASC_1        PRGEB63604       NaN
1333    MASTER_WP4_UNINA_1      PRJNA1094419       NaN
1429    MASTER_WP4_UNINA_2       PRJNA997801       NaN
1594          MilaniC_2019       PRJNA482503       NaN
1598       MortensenS_xxxx       PRJNA977472       NaN
1603       MortensenS_xxxx      PRJNA1023503       NaN
1975         PasolliE_2020       PRJNA603575       NaN
1999          PfeferT_xxxx       PRJNA430402       NaN
2047        PothakosV_2020        PRJEB24129       NaN
2053         QuigleyL_2016         PRJEB6952       NaN
2066      SomervilleV_2019       PRJNA454439       NaN
2067        SternesPR_2017       PRJNA305659       NaN
2087        SulaimanJ_2014       PRJNA185981       NaN
2094           VerceM_2019        PRJEB21603       NaN
2098          WalshAM_2016        PRJEB15432       NaN
2116          WalshAM_2017        PRJEB20873       NaN
2126          WalshAM_2020        PRJEB32768       NaN
2203           WalshL_xxxx        PRJEB65292       NaN
2494             YaoG_2017       PRJNA340315       NaN
2524           YasirM_2020        PRJEB36988       NaN
2526         YulandiA_2020       PRJNA605305       NaN
2528           ZhaoCC_2020       PRJNA594855       NaN

In [23]:
print("Number of rows with References:", carlino_metadata['Reference'].notna().sum())
print("Total rows in carlino_metadata:", len(carlino_metadata))

Number of rows with References: 708
Total rows in carlino_metadata: 3368

In [24]:
# compare the values in dataset_name from missing_refs to Dataset in carlino_supp. I want to finf if any of them are in there
missing_refs['dataset_name'].apply(lambda x: carlino_supp['Dataset'].str.contains(x).any())

2       True
72      True
173     True
185     True
227     True
232     True
239     True
358     True
364     True
367     True
373     True
378     True
379     True
395     True
428     True
432     True
472     True
530     True
633     True
639     True
647     True
652     True
766     True
799     True
808     True
930     True
1002    True
1103    True
1178    True
1180    True
1333    True
1429    True
1594    True
1598    True
1603    True
1975    True
1999    True
2047    True
2053    True
2066    True
2067    True
2087    True
2094    True
2098    True
2116    True
2126    True
2203    True
2494    True
2524    True
2526    True
2528    True
Name: dataset_name, dtype: bool

# issues with references 
It looks as though mapping the references shifts the data around. I will try and solve this in a different way. <br>
I need to reload the supp and metadata files. <br>
I will add the missing refs to the supp table first.<br>
I will mapp based on three columns (dataset_name, bioproject and referecnce)

In [75]:
carlino_metadata = pd.read_csv('data/cFMD_metadata.tsv', sep='\t')
carlino_supp = pd.read_excel('data/Carlino_supp.xlsx') #requires openpyxl to be installed
missing_refs = pd.read_csv('data/missing_references.tsv', sep='\t')

display(carlino_metadata.head())
display(carlino_supp.head())    
display(missing_refs.head())

,dataset_name,sample_id,macrocategory,category,type,subtype,commercial_name,fermented/non-fermented,country,sample_accession,...,median_read_len,mean_read_len,max_read_len,n_contigs,n_MAGs_MQ_prok,n_MAGs_HQ_prok,n_MAGs_MQ_euk,n_MAGs_HQ_euk,filtered,curator
0,AlvarezOrdonezA_xxxx,C01-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689796,...,151.0,146.200505,151.0,62700,0,0,0,0,no,Niccolò_Carlino
1,AlvarezOrdonezA_xxxx,C01-17,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689797,...,151.0,147.266426,151.0,98756,0,0,0,0,no,Niccolò_Carlino
2,AlvarezOrdonezA_xxxx,C01-18,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689824,...,151.0,147.760911,151.0,103911,0,0,0,0,no,Niccolò_Carlino
3,AlvarezOrdonezA_xxxx,C01-19,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689825,...,151.0,149.200530,151.0,134121,0,0,0,0,no,Niccolò_Carlino
4,AlvarezOrdonezA_xxxx,C02-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689798,...,151.0,148.854534,151.0,37597,1,1,0,0,no,Niccolò_Carlino

,Dataset,# Samples,Accession number,Reference
0,AlvarezOrdonezA_xxxx,173,"PRJNA997800, PRJNA997801",*
1,ArikanM_2020,12,PRJEB22200,"Arıkan, M., Mitchell, A.L., Finn, R.D., and Gü..."
2,BertuzziAS_2018,42,PRJEB15423,"Bertuzzi, A.S., Walsh, A.M., Sheehan, J.J., Co..."
3,ChaconVargasK_2020,5,PRJNA603591,"Chacón-Vargas, K., Torres, J., Giles-Gómez, M...."
4,CM_INJERA,2,PRJNA504891,"Manara, S., Selma-Royo, M., Huang, K.D., Asnic..."

,dataset_name,project_accession,Reference
0,KastmanEK_2016,NaN,"Kastman, E.K., Kamelamela, N., Norville, J.W.,..."
1,PorcellatoD_2016,NaN,"Porcellato, D., and Skeie, S.B. (2016). Bacter..."
2,WolfeBE_2014,NaN,"Wolfe, B.E., Button, J.E., Santarelli, M., and..."
3,XieM_2019,NaN,"Xie, M., Wu, J., An, F., Yue, X., Tao, D., Wu,..."
4,CM_UNINA_FFOOD,PRJNA1206071,"Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."

In [76]:
# checking for cross matches bewteen the missing references and the carlino_supp
display(missing_refs['dataset_name'].apply(lambda x: carlino_supp['Dataset'].str.contains(x).any()).sum() )

# display the rows that have a match in both datasets
display(missing_refs[missing_refs['dataset_name'].apply(lambda x: carlino_supp['Dataset'].str.contains(x).any())])
display(carlino_supp[carlino_supp['Dataset'].apply(lambda x: missing_refs['dataset_name'].str.contains(x).any())])

np.int64(4)

,dataset_name,project_accession,Reference
0,KastmanEK_2016,NaN,"Kastman, E.K., Kamelamela, N., Norville, J.W.,..."
1,PorcellatoD_2016,NaN,"Porcellato, D., and Skeie, S.B. (2016). Bacter..."
2,WolfeBE_2014,NaN,"Wolfe, B.E., Button, J.E., Santarelli, M., and..."
3,XieM_2019,NaN,"Xie, M., Wu, J., An, F., Yue, X., Tao, D., Wu,..."

,Dataset,# Samples,Accession number,Reference
15,KastmanEK_2016,18,mgp16074,"Kastman, E.K., Kamelamela, N., Norville, J.W.,..."
40,PorcellatoD_2016,12,mgp14606,"Porcellato, D., and Skeie, S.B. (2016). Bacter..."
53,WolfeBE_2014,24,mgp3362,"Wolfe, B.E., Button, J.E., Santarelli, M., and..."
54,XieM_2019,1,CRA001049,"Xie, M., Wu, J., An, F., Yue, X., Tao, D., Wu,..."

The Accession number in carlino_spp does not match the correct column in carlino_metadata. <br>
To ensure proper mapping, I will remove the rows from carlino_supp before concatenating.

In [77]:
# remove # Samples	columns from carlino_supp
carlino_supp_updated = carlino_supp.drop('# Samples', axis=1)

# remove rows with dataset_name that are in missing_refs
carlino_supp_updated = carlino_supp_updated[~carlino_supp_updated['Dataset'].isin(missing_refs['dataset_name'])]

# Adjust column names in missing_refs to match carlino_supp
missing_refs = missing_refs.rename(columns={'dataset_name': 'Dataset', 'project_accession': 'Accession number'})


# concatenate carlino_supp and missing_refs
carlino_supp_updated = pd.concat([carlino_supp_updated, missing_refs], ignore_index=True)

# remove rows missing references
carlino_supp_updated = carlino_supp_updated.dropna(subset=['Reference'])

# check if the number of rows is the same as the sum of the two dataframes minus the duplicates
print(f"Number of rows in the concatenated dataframe: {carlino_supp_updated.shape[0]}")
print(f"Sum of the two dataframes: {carlino_supp.shape[0] + missing_refs.shape[0] - 4}")

Number of rows in the concatenated dataframe: 84
Sum of the two dataframes: 84

In [80]:
# Split rows with multiple bioproject accession numbers in carlino_supp
carlino_supp_updated['Accession number'] = carlino_supp_updated['Accession number'].str.split(',')
carlino_supp_updated = carlino_supp_updated.explode('Accession number')
carlino_supp_updated['Accession number'] = carlino_supp_updated['Accession number'].str.strip()

# Create a mapping dictionary using both Dataset and Accession number as keys
reference_dict = {}
for _, row in carlino_supp_updated.iterrows():
    # Map by dataset name
    reference_dict[('dataset', row['Dataset'])] = row['Reference']
    # Map by accession if available
    if pd.notna(row['Accession number']):
        reference_dict[('accession', row['Accession number'])] = row['Reference']

# Add Reference column to carlino_metadata using both dataset_name and project_accession
def get_reference(row):
    # Try to find reference by dataset name first
    ref = reference_dict.get(('dataset', row['dataset_name']))
    if pd.isna(ref) and pd.notna(row['project_accession']):
        # If not found, try to find by project accession
        ref = reference_dict.get(('accession', row['project_accession']))
    return ref

carlino_metadata['Reference'] = carlino_metadata.apply(get_reference, axis=1)

# Verify the merge by checking if References were added
print("Number of rows with References:", carlino_metadata['Reference'].notna().sum())
print("Total rows in carlino_metadata:", len(carlino_metadata))

Number of rows with References: 3186
Total rows in carlino_metadata: 3368

In [81]:
# checking the missing references again
missing_refs = carlino_metadata[
    (carlino_metadata.Reference.isna()) & 
    (carlino_metadata['fermented/non-fermented'] == 'F')
][['dataset_name', 'project_accession','Reference']].drop_duplicates()

# check if the dataset_name is in the Fermentos metadata
missing_refs = missing_refs[missing_refs['dataset_name'].apply(lambda x: dataset['mag_id'].str.contains(x).any())]
display(missing_refs)

Empty DataFrame
Columns: [dataset_name, project_accession, Reference]
Index: []

# addiing References is complete for carlino metadata. 
# I will save the table now to use it later.

In [82]:
# save carlino_metadata to a file
carlino_metadata.to_csv('data/cFMD_metadata_updated.tsv', sep='\t', index=False)

# Adjusting additional metadata sets. 
Since Carlino is by far the largest dataset we have, I will adjust the other smaller sets to match it as much as possible. <br>
I will then concatenated all the added metadata information before merging it with the current metadata file. <br>
Once all the additional data is added I will clean the data.

In [86]:
import glob

# Get all files matching the pattern
files = glob.glob('data/Saak2023_CheeseMAGs_bin*')

# Function to merge two rows into one
def merge_rows(row1, row2):
    merged = {}
    for col in row1.index:
        # If values are the same, keep one
        if row1[col] == row2[col]:
            merged[col] = row1[col]
        # If values are different and not NaN, combine them
        elif pd.notna(row1[col]) and pd.notna(row2[col]):
            merged[col] = f"{row1[col]}; {row2[col]}"
        # If one value is NaN, keep the non-NaN value
        else:
            merged[col] = row1[col] if pd.notna(row1[col]) else row2[col]
    return pd.Series(merged)

# List to store all combined dataframes
all_dfs = []

# Process each file
for file in files:
    # Read the file
    df = pd.read_csv(file)
    
    # If there's only one row, add it directly
    if len(df) == 1:
        all_dfs.append(df)
    # If there are multiple rows, merge them
    else:
        merged_row = df.iloc[0]
        for i in range(1, len(df)):
            merged_row = merge_rows(merged_row, df.iloc[i])
        all_dfs.append(pd.DataFrame([merged_row]))

# Combine all dataframes
Saak2023_metadata = pd.concat(all_dfs, ignore_index=True)

# Display result
display(Saak2023_metadata)

,Run,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,BioSampleModel,Bytes,Center Name,Collection_Date,...,num_replicons,Organism,Platform,ref_biomaterial,ReleaseDate,create_date,version,Sample Name,SRA Study,strain
0,SRR19240301; SRR19240302,WGS,6350; 300,76630626; 820718700,PRJNA837789,SAMN28230942,MIGS.ba,67972364; 391048120,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter sp. CCS169,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T08:03:00Z,1,CCS169,SRP375596,CCS169
1,SRR19240304; SRR19240305,WGS,6852; 300,169732241; 896587500,PRJNA838106,SAMN28404985,MIGS.ba,154338594; 444876504,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Brachybacterium sp. CCS183,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T08:07:00Z; 2022-05-17T08:04:00Z,1,CCS183,SRP375598,CCS183
2,SRR19236863; SRR19236864,WGS,8410; 300,435143545; 846789000,PRJNA838091,SAMN28404911,MIGS.ba,377507949; 419527532,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Brevibacterium aurantiacum,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:28:00Z; 2022-05-16T18:23:00Z,1,CCS174,SRP375504,CCS174
3,SRR19236806,WGS,300,993764400,PRJNA838095,SAMN28404915,MIGS.ba,450318221,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Staphylococcus carnosus,ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:22:00Z,1,CCS178,SRP375502,CCS178
4,SRR19236869; SRR19236870,WGS,8852; 300,883564434; 1047163800,PRJNA837750,SAMN28230094,MIGS.ba,780487290; 518534252,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Brevibacterium aurantiacum,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:28:00Z; 2022-05-16T18:23:00Z,1,CCS156,SRP375506,CCS156
5,SRR19236865,WGS,300,885285600,PRJNA838094,SAMN28404914,MIGS.ba,404201531,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Staphylococcus xylosus,ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:23:00Z,1,CCS177,SRP375505,CCS177
6,SRR19240297; SRR19240298,WGS,6231; 300,825058471; 895976700,PRJNA838262,SAMN28416482,MIGS.ba,721809360; 425596627,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter sp. CCS184,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T08:05:00Z; 2022-05-17T08:03:00Z,1,CCS184,SRP375594,CCS184
7,SRR19240247; SRR19240248,WGS,9500; 300,1906080156; 1065953700,PRJNA837754,SAMN28230173,MIGS.ba,1707103809; 511862703,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Halomonas sp. CCS158,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T07:50:00Z; 2022-05-17T07:42:00Z,1,CCS158,SRP375591,CCS158
8,SRR19237397; SRR19237398,WGS,13050; 300,194158638; 962111100,PRJNA837770,SAMN28230657,MIGS.ba,169592768; 479456251,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Microbacterium gubbeenense,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:46:00Z; 2022-05-16T18:43:00Z,1,CCS160,SRP375516,CCS160
9,SRR19236881; SRR19236882,WGS,5601; 300,66742337; 812418300,PRJNA838100,SAMN28404984,MIGS.ba,59270012; 378102207,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter cibarius,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:23:00Z,1,CCS182,SRP375508,CCS182
10,SRR19240245; SRR19240246,WGS,300; 5886,865814100; 1194238663,PRJNA838104,SAMN28404982,MIGS.ba,408582509; 1069924971,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter sp. CCS180,ILLUMINA; OXFORD_NANOPORE,n.a.,2022-11-01T00:00:00Z,2022-05-17T07:42:00Z; 2022-05-17T07:45:00Z,1,CCS180,SRP375590,CCS180
11,SRR19240303,WGS,300,789764400,PRJNA838092,SAMN28404912,MIGS.ba,376068475,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter sp. CCS175,ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T08:04:00Z,1,CCS175,SRP375597,CCS175
12,SRR19236887; SRR19236888,WGS,9503; 300,519463050; 875304600,PRJNA838105,SAMN28404981,MIGS.ba,457561510; 408408946,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter immobilis,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:29:00Z; 2022-05-16T18:24:00Z,1,CCS179,SRP375510,CCS179
13,SRR19236804; SRR19236805,WGS,12734; 300,88428573; 697548600,PRJNA837776,SAMN28230850,MIGS.ba,78166994; 336561572,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter alimentarius,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:22:00Z,1,CCS164,SRP375501,CCS164
14,SRR19236885; SRR19236886,WGS,4955; 300,598601405; 839253900,PRJNA838093,SAMN28404913,MIGS.ba,515484009; 391768040,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Pseudoalteromonas nigrifaciens,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-16T18:25:00Z; 2022-05-16T18:24:00Z,1,CCS176,SRP375509,CCS176
15,SRR19240306; SRR19240307,WGS,5606; 300,1270904742; 932733600,PRJNA838102,SAMN28404983,MIGS.ba,1139715534; 436798278,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,n.a.,Psychrobacter sp. CCS181,OXFORD_NANOPORE; ILLUMINA,n.a.,2022-11-01T00:00:00Z,2022-05-17T08:07:00Z; 2022-05-17T08:04:00Z,1,CCS181,SRP375599,CCS181

In [89]:
# upload the Saak2023 metagenome data
Saak2023_metagenome = pd.read_csv('data/Saak2023_CheeseMAGs_PRJNA778418.csv')
display(Saak2023_metagenome.head())

,Run,Assay Type,AvgSpotLen,Bases,batch,BioProject,BioSample,BioSampleModel,Bytes,Center Name,...,LibrarySelection,LibrarySource,Organism,Platform,ReleaseDate,create_date,version,Sample Name,SRA Study,week
0,SRR16955650,AMPLICON,302,15392034,2,PRJNA778418,SAMN23169395,"MIMS.me,MIGS/MIMS/MIMARKS.microbial",4849268,UNIVERSITY OF CALIFORNIA SAN DIEGO,...,PCR,METAGENOMIC,food fermentation metagenome,ILLUMINA,2022-11-01T00:00:00Z,2021-11-16T10:35:00Z,1,O_2_4_CheeseA,SRP346349,4
1,SRR16955651,AMPLICON,302,16215286,2,PRJNA778418,SAMN23169394,"MIMS.me,MIGS/MIMS/MIMARKS.microbial",5116627,UNIVERSITY OF CALIFORNIA SAN DIEGO,...,PCR,METAGENOMIC,food fermentation metagenome,ILLUMINA,2022-11-01T00:00:00Z,2021-11-16T10:35:00Z,1,O_2_3_CheeseA,SRP346349,3
2,SRR16955652,AMPLICON,302,13833110,2,PRJNA778418,SAMN23169393,"MIMS.me,MIGS/MIMS/MIMARKS.microbial",4415499,UNIVERSITY OF CALIFORNIA SAN DIEGO,...,PCR,METAGENOMIC,food fermentation metagenome,ILLUMINA,2022-11-01T00:00:00Z,2021-11-16T10:35:00Z,1,O_2_2_CheeseA,SRP346349,2
3,SRR16955653,AMPLICON,302,15773460,2,PRJNA778418,SAMN23169392,"MIMS.me,MIGS/MIMS/MIMARKS.microbial",5019625,UNIVERSITY OF CALIFORNIA SAN DIEGO,...,PCR,METAGENOMIC,food fermentation metagenome,ILLUMINA,2022-11-01T00:00:00Z,2021-11-16T10:35:00Z,1,O_2_1_CheeseA,SRP346349,1
4,SRR16955654,AMPLICON,302,11930812,3,PRJNA778418,SAMN23169439,"MIMS.me,MIGS/MIMS/MIMARKS.microbial",3850589,UNIVERSITY OF CALIFORNIA SAN DIEGO,...,PCR,METAGENOMIC,food fermentation metagenome,ILLUMINA,2022-11-01T00:00:00Z,2021-11-16T10:35:00Z,1,We_3_6_CheeseC,SRP346349,13

In [ ]:
# compare columns of Saak2023_metadata and Saak2023_metagenome
print("Columns in Saak2023_metadata:", Saak2023_metadata.columns)
print("Columns in Saak2023_metagenome:", Saak2023_metagenome.columns)

# find the different columns and which table they are in
# Print which columns are unique to each dataset
saak_only = set(Saak2023_metadata.columns) - set(Saak2023_metagenome.columns)
metagenome_only = set(c.columns) - set(Saak2023_metadata.columns)

print("\nColumns only in Saak2023_metadata:")
print(saak_only)
print("\nColumns only in Saak2023_metagenome:")
print(metagenome_only)

Columns in Saak2023_metadata: Index(['Run', 'Assay Type', 'AvgSpotLen', 'Bases', 'BioProject', 'BioSample',
       'BioSampleModel', 'Bytes', 'Center Name', 'Collection_Date', 'Consent',
       'DATASTORE filetype', 'DATASTORE provider', 'DATASTORE region',
       'env_broad_scale', 'env_local_scale', 'env_medium', 'Experiment',
       'geo_loc_name_country', 'geo_loc_name_country_continent',
       'geo_loc_name', 'Instrument', 'isol_growth_condt', 'lat_lon',
       'Library Name', 'LibraryLayout', 'LibrarySelection', 'LibrarySource',
       'num_replicons', 'Organism', 'Platform', 'ref_biomaterial',
       'ReleaseDate', 'create_date', 'version', 'Sample Name', 'SRA Study',
       'strain'],
      dtype='object')
Columns in Saak2023_metagenome: Index(['Run', 'Assay Type', 'AvgSpotLen', 'Bases', 'batch', 'BioProject',
       'BioSample', 'BioSampleModel', 'Bytes', 'Center Name', 'Cheese',
       'Collection_Date', 'Consent', 'DATASTORE filetype',
       'DATASTORE provider', 'DATASTORE region', 'Depth', 'elev',
       'env_broad_scale', 'env_local_scale', 'env_medium', 'Experiment',
       'geo_loc_name_country', 'geo_loc_name_country_continent',
       'geo_loc_name', 'Instrument', 'lat_lon', 'Library Name',
       'LibraryLayout', 'LibrarySelection', 'LibrarySource', 'Organism',
       'Platform', 'ReleaseDate', 'create_date', 'version', 'Sample Name',
       'SRA Study', 'week'],
      dtype='object')

Columns only in Saak2023_metadata:
{'ref_biomaterial', 'isol_growth_condt', 'num_replicons', 'strain'}

Columns only in Saak2023_metagenome:
{'elev', 'Cheese', 'week', 'Depth', 'batch'}

Based on Fermentos metadata all the isolates are from cheese B so I can add that column. <br> 
I will also change the values in the metagenome to match the values in Fermentos metadata.

In [97]:
# add prefix cheese_ to the rows of Cheese column in Saak2023_metagenome
Saak2023_metagenome['Cheese'] = 'cheese_' + Saak2023_metagenome['Cheese']

# Add column Cheese to Saak2023_metadata all values are cheese_B
Saak2023_metadata['Cheese'] = 'cheese_B'

# concatenate the two dataframes
Saak2023_combined = pd.concat([Saak2023_metadata, Saak2023_metagenome], ignore_index=True)

display(Saak2023_combined.head())
# save the combined dataframe to a file
Saak2023_combined.to_csv('data/Saak2023_combined_metadata.tsv', sep='\t', index=False)

,Run,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,BioSampleModel,Bytes,Center Name,Collection_Date,...,create_date,version,Sample Name,SRA Study,strain,Cheese,batch,Depth,elev,week
0,SRR19240301; SRR19240302,WGS,6350; 300,76630626; 820718700,PRJNA837789,SAMN28230942,MIGS.ba,67972364; 391048120,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,2022-05-17T08:03:00Z,1,CCS169,SRP375596,CCS169,cheese_B,NaN,NaN,NaN,NaN
1,SRR19240304; SRR19240305,WGS,6852; 300,169732241; 896587500,PRJNA838106,SAMN28404985,MIGS.ba,154338594; 444876504,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,2022-05-17T08:07:00Z; 2022-05-17T08:04:00Z,1,CCS183,SRP375598,CCS183,cheese_B,NaN,NaN,NaN,NaN
2,SRR19236863; SRR19236864,WGS,8410; 300,435143545; 846789000,PRJNA838091,SAMN28404911,MIGS.ba,377507949; 419527532,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,2022-05-16T18:28:00Z; 2022-05-16T18:23:00Z,1,CCS174,SRP375504,CCS174,cheese_B,NaN,NaN,NaN,NaN
3,SRR19236806,WGS,300,993764400,PRJNA838095,SAMN28404915,MIGS.ba,450318221,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,2022-05-16T18:22:00Z,1,CCS178,SRP375502,CCS178,cheese_B,NaN,NaN,NaN,NaN
4,SRR19236869; SRR19236870,WGS,8852; 300,883564434; 1047163800,PRJNA837750,SAMN28230094,MIGS.ba,780487290; 518534252,UNIVERSITY OF CALIFORNIA SAN DIEGO,2020-08-20,...,2022-05-16T18:28:00Z; 2022-05-16T18:23:00Z,1,CCS156,SRP375506,CCS156,cheese_B,NaN,NaN,NaN,NaN

In [43]:
# Split source column into dataset_name and sample_id
dataset[['dataset_name', 'sample_id']] = dataset['mag_id'].str.rsplit('__', n=2, expand=True).iloc[:, :2]
dataset.head()

,mag_id,sample_description,fermented_food,specific_substrate,substrate_category,general_category,completeness,contamination,contigs,total_length,...,phylum,class,order,family,genus,species,study_catalog,source,dataset_name,sample_id
0,AlvarezOrdonezA_xxxx__C02-18__bin.2,meat,sausage,meat,meat,fermented_meat,51.600000,3.100000,2506,20998336,...,Ascomycota,Eurotiomycetes,Eurotiales,Aspergillaceae,Aspergillus,Aspergillus_glaucus,Carlino2024,AlvarezOrdonezA_xxxx__C02-18,AlvarezOrdonezA_xxxx,C02-18
1,AlvarezOrdonezA_xxxx__C02-19__bin.5,meat,sausage,meat,meat,fermented_meat,63.793103,0.862069,542,1596974,...,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus,Staphylococcus_equorum,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
2,AlvarezOrdonezA_xxxx__C02-19__bin.3,meat,sausage,meat,meat,fermented_meat,74.137931,0.000000,279,5340756,...,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Pseudomonas,Pseudomonas_lactis,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
3,AlvarezOrdonezA_xxxx__C02-19__bin.1,meat,sausage,meat,meat,fermented_meat,64.912281,0.000000,712,3816144,...,Proteobacteria,Gammaproteobacteria,Enterobacterales,Yersiniaceae,Ewingella,Ewingella_americana,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
4,AlvarezOrdonezA_xxxx__C02-19__bin.10,meat,sausage,meat,meat,fermented_meat,63.900000,3.300000,1188,9316757,...,Ascomycota,Saccharomycetes,Saccharomycetales,Debaryomycetaceae,Debaryomyces,Debaryomyces_tyrocola,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19

In [44]:
dataset.shape

(13858, 23)

In [45]:
# Check for duplicates in carlino_metadata using dataset_name and sample_id as keys
duplicates = carlino_metadata[carlino_metadata.duplicated(['dataset_name', 'sample_id'], keep=False)]

# Display counts of duplicates if any exist
if len(duplicates) > 0:
    print(f"Found {len(duplicates)} duplicate entries")
    # Group duplicates and show their counts
    duplicate_counts = duplicates.groupby(['dataset_name', 'sample_id']).size().reset_index(name='count')
    display(duplicate_counts)
    
    # Display the actual duplicate rows
    print("\nDuplicate rows:")
    display(duplicates)
else:
    print("No duplicates found in carlino_metadata")

No duplicates found in carlino_metadata

In [46]:
# Drop duplicates keeping the first occurrence
carlino_metadata = carlino_metadata.drop_duplicates(['sample_id'], keep='first')

# Verify the duplicate is removed
print("Number of duplicates after removal:",
    carlino_metadata.duplicated(['dataset_name', 'sample_id']).sum())

Number of duplicates after removal: 0

In [47]:
# check the number of unique values in each column of carlino_metadata
display(carlino_metadata.shape, carlino_metadata.nunique())

(3366, 33)

dataset_name                 85
sample_id                  3366
macrocategory                 1
category                     15
type                        118
subtype                     337
commercial_name              13
fermented/non-fermented       2
country                      52
sample_accession           3303
run_accession              3196
experiment_accession       1367
study_accession              85
project_accession            85
database_origin               4
library_layout                3
sequencing_platform          16
DNA_extraction_kit           35
collection_date             201
n_of_bases                 3366
n_of_reads                 3364
min_read_len                 33
median_read_len              62
mean_read_len              3027
max_read_len                 26
n_contigs                  3065
n_MAGs_MQ_prok               17
n_MAGs_HQ_prok               18
n_MAGs_MQ_euk                 7
n_MAGs_HQ_euk                 6
filtered                      2
curator                       4
Reference                    34
dtype: int64

In [48]:
# Merge dataset with selected columns from carlino_metadata
merged_df = pd.merge(dataset, 
                    carlino_metadata.iloc[:, :17], 
                    how='left',
                    on=['dataset_name', 'sample_id'])

# Verify the merge
print("\nShape after merge:")
display(merged_df.shape, dataset.shape)

Shape after merge:

(13858, 38)

(13858, 23)

In [49]:
#print the unique values of columns study_catalog for data that was not found in carlino
# Get value counts of study_catalog for entries with missing sequencing_platform
study_counts = merged_df[merged_df['sequencing_platform'].isna()]['study_catalog'].value_counts().to_frame()
display(study_counts)
print(f"\nTotal number of unique study_catalog values for samples without sequencing platform: {len(study_counts)}")

# Print total number of rows with missing sequencing_platform
print(f"\nTotal samples without sequencing platform: {merged_df['sequencing_platform'].isna().sum()}")

                         count
study_catalog
Du2023                     553
Caffrey2024                350
Saak2023_CheeseMAGs         52
Rappaport2024_sourdough     29
Carlino2024                 23

Total number of unique study_catalog values for samples without sequencing platform: 5

Total samples without sequencing platform: 1007